Source: haskell-cookie
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Clint Adams <clint@debian.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-data-default-class-dev,
 libghc-data-default-class-prof,
Build-Depends-Indep: ghc-doc,
 libghc-data-default-class-doc,
Standards-Version: 4.1.4
Homepage: http://github.com/snoyberg/cookie
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-cookie
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-cookie]

Package: libghc-cookie-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: HTTP cookie-parsing and rendering library${haskell:ShortBlurb}
 It contains Web.Cookie.
 .
 ${haskell:Blurb}

Package: libghc-cookie-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: HTTP cookie-parsing and rendering library${haskell:ShortBlurb}
 It contains Web.Cookie.
 .
 ${haskell:Blurb}

Package: libghc-cookie-doc
Architecture: all
Section: doc
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Description: HTTP cookie-parsing and rendering library${haskell:ShortBlurb}
 It contains Web.Cookie.
 .
 ${haskell:Blurb}
